@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 3, 7, 18;
}



body {
  background-color: #030712;
}

h1{
  color: #E5D8BF
}

input, select, textarea{
  background-color: #E5D8BF;
  border-color: #E5D8BF;
}
input:hover, select:hover, textarea:hover{
  background-color: #595B83;
}

label{
  color: #E5D8BF;
}

a{
  color: #E5D8BF;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #c40f0f;
    color: #c40f0f;
  }
  50% {
    text-shadow: 0 0 20px #151464;
    color: #151464;
  }
  100% {
    text-shadow: 0 0 5px #9c0f5d;
    color: #9c0f5d;
  }
}
/* glow animation on image hover */
image:hover {
  animation: glow 5s ease-in-out infinite;
}

.animate-glow {
  animation: glow 5s ease-in-out infinite;
}
